*{
  padding: 0;
  margin: 0;
}

.card-img-top{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.container4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem; 
}

/* Media query for small screens */
@media (max-width: 768px) {
  .container4 {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

/* Media query for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .container4 {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

/* Media query for large screens */
@media (min-width: 1025px) {
  .container4 {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
